
.loginnn{
    background-image: url("C:\Users\shara\ecom\src\loginpage\background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    
    height: 100vh;
    align-items: center;
    display: flex;
   justify-content: center;
}
h2{
    color: rgba(245, 245, 245, 0.686);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}
@keyframes flickerGlow {
    0% { text-shadow:none; }
    50% { text-shadow: rgb(175, 174, 174); }
    80% { text-shadow: 0 0 16px rgb(255, 248, 248); }
}

.brand {
    cursor: default;
    animation: flickerGlow 2s infinite ; 
}
.content{
    width:90%;
    margin-left: 3%;
}
.box{
    display: flex;
    justify-content: center;
    
}
.wrapper{
   
    margin-left: -1050px;
    margin-top: 20px;
    width: 420px;
    background: transparent;
    /* border: 1px solid #163a70; */
    backdrop-filter: blur(13px);
    color: rgb(143, 143, 143);
    border-radius: 12px;
    padding: 30px 40px;
    justify-content: center;
    box-shadow: 0 0 4px #163a70;
    height: 400px;
    position: relative;
    

}
.wrapper2{
   
    margin-left: 0px;
    margin-top: 20px;
    width: 420px;
    background: transparent;
    border: 2px solid #195851;
    backdrop-filter: blur(3px);
    color: rgb(143, 143, 143);
    border-radius: 12px;
    padding: 30px 40px;
    justify-content: center;
   
    height: 400px;
    position: relative;
    

}
.wrapper:hover{
    transform: scale(1);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: whitesmoke;
    
}
.wrapper h1:hover{
    text-shadow:3px solid rgba(255, 255, 255, 0.634);

}
.wrapper h2{
    font-size: 32px;
    text-align: center;
    
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 40px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: rgb(255, 255, 255);
}
.input-box input:hover{
    border:2px solid black;
}
.wrapper .input-box2{
    position: relative;
    width: 100%;
    height: 65px;
    margin-top: 20px;
}

.input-box2 input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
}
.input-box2 input::placeholder{
    color: rgb(255, 255, 255);
}
.input-box2 input:hover{
    border:2px solid black;
}
.input-box2 i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: rgb(60, 36, 182);
    margin-right: 3px;
}
.remember-forgot a {
    position: relative;
    color:rgb(230, 14, 14);
    text-decoration: none;
    cursor: pointer;
}

.remember-forgot a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(230, 14, 14);
    transition: width 0.3s ease; 
    
}

.remember-forgot a:hover::after {
    width: 100%; 
    border-radius: 10px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background:#157368;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.wrapper .btn:hover{
    box-shadow: 0 0 20px rgb(1, 187, 146);
}
.wrapper .register-link{
    font-size: 14.5px;
    align-items: center;
    display: flex;
    margin: 20px 0 15px;
    padding-left: 60px;
    
}
.register-link p{
    margin-right: 10px;
}
.register-link a {
    position: relative;
    color: rgb(22, 22, 237);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(22, 22, 237);
    transition: width 0.3s ease; /* Smooth transition for width */
}

.register-link a:hover::after {
    width: 100%; /* Full width for the underline on hover */
}

.split{
    margin-left: 1000px;
    margin-top: 100px;
    width: 800px;
    background: transparent;
    font-size: 90px;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 30px 40px;
    position: relative;
    padding-left: 30px;
    top: -50px;
    left: -900px;
    text-align: center;

    
}
.loginnn{
   padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    position: relative;
}
.slogan{
    font-size: 30px;
    margin-left: -10px;
    color:#157368;
    text-shadow: 0 0 5px rgb(7, 7, 7);
    cursor: default;
}
.slogan:hover{
    color: whitesmoke;
}

.checkbox:hover{
    cursor: pointer;
}
/* @keyframes blinkAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; } 
    100% { opacity: 1; }
} */

span {
    color: #157368;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: default;
    /* animation: blinkAnimation 1s infinite;  */
}


.brand{
    margin-left: -220px;
}
@media only screen and (max-width: 768px) {
    .wrapper {
      margin-left: auto; /* Center the login box horizontally */
      margin-right: auto;
      width: 80%; /* Adjust the width */
      max-width: 400px; /* Set maximum width */
    }
  
    .split {
      margin-left: auto; /* Center the brand text horizontally */
      margin-right: auto;
      width: 20%; /* Adjust the width */
      max-width: 300px; /* Set maximum width */
    }
  }
  